<?xml version="1.0" encoding="utf-8"?>
<packages>
<package id="git" />
<package id="notepadplusplus" />
<package id="7zip" />
<package id="fiddler" />
<package id="GoogleChrome" />
<package id="filezilla" />
<package id="Firefox" />
<package id="paint.net" />
<package id="skype" />
<package id="adobereader" />
<package id="linqpad4" />
<package id="evernote" />
<package id="mongodb" />
</packages>